/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #397524 #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 0px;
    width: 0px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }

/* MISE EN PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #171717;
}
.content {
    width: 60vw;
    margin: 20px auto;
    position: relative;
}
/* TYPO */
li ,a {
    text-decoration: none;
    list-style: none;
}
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
h1 {
    color: rgb(231, 230, 230);
    font-weight: 600;
    font-size: calc(15px + 4vw);
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}
.orange {
    color: rgb(49, 94, 69);
}
.grey {
    color:#171717;
}
.titleDiv h2 {
    font-size: calc(2em + 2vw);
    color: rgb(231, 230, 230);
    margin: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(49, 94, 69);
}
.contentDiv p {
    font-size: calc(0.7em + 1vw);
    text-align: justify;
}

/* NAV */
nav {
    display: block;
    width: 100%;
    border-bottom: 2px solid rgb(49, 94, 69);
    padding: 20px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
}
nav ul li {
    font-size: calc(0.7em + 1vw);
    background: #171717;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #171717;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
nav ul li:hover {
    box-shadow: 0 0 30px #171717;
}
nav ul li a {
    color: rgb(49, 94, 69);
    transition: color 0.3s;
}
nav ul li:hover a {
    color: rgb(231, 230, 230);
}

/* ACCUEIL TITLE */

.accueil {
    position: relative;
    height: 85vh;
}
.title {
    margin: 100px auto;
    text-align: center;
    position: relative;
}
.imageTitle {
    position: relative;
    height: auto;
}
.image {
    display: flex;
    justify-content: flex-end;
}
.center {
    display: flex;
    justify-content: center;
}

.moi {
    position: absolute;
    height: 200px;
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    background: rgb(49, 94, 69);
    margin: 100px auto;
    animation: box-shadow 3s ease-in-out infinite,position 6s ease-in-out infinite;
    bottom: 0%;
}
@keyframes box-shadow {
    0% {
        box-shadow: 0px 0px 30px rgb(49, 94, 69);
    }
    50% {
        box-shadow: 0px 0px 60px rgb(49, 94, 69);
    }
    100% {
        box-shadow: 0px 0px 30px rgb(49, 94, 69);
    }
}
@keyframes position {
    0% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(100px);
    }
    60% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(-50%);
    }

}
.moi:after {
    box-shadow: inset 0px 0px 10px rgb(49, 94, 69);
    content: '';
    position: absolute;
    top: 10%;
    left: 40%;
    width: 50%;
    height: 50%;
    background: #171717;
    border-radius: 50%;
}


/* A PROPOS */

.propos {
    border-top: 2px solid rgb(49, 94, 69);
    position: relative;
}
.contentDiv p {
    color: #171717;
    font-size: calc(0.7em + 0.5vw);
    padding: 30px;
    text-align: justify;
}
.contentDiv {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
}
/* .column {
    width: 300px !important;
    margin: auto !important;
    margin-bottom: 30px !important;
} */

/* PORTFOLIO */
.portfolio {
    border-top: 2px solid rgb(49, 94, 69);
    position: relative;
    background: #171717;
}
.portfolioContent {
    height: auto;
    position: relative;
    flex-wrap: wrap;
}
.portfolio h2 {
    text-shadow: 2px 2px 2px #171717;
}
.portfolio img {
    height: 100%;
    max-width: 50%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
}
.gauche {
    display: flex;
    /* width: 60vw; */
    margin: 50px 0;
    background: rgb(49, 94, 69);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    width: auto;
    /* flex-wrap: wrap; */
}
.droite {
    display: flex;
    margin-bottom: 50px;
    /* width: 60vw; */
    background: rgb(49, 94, 69);
    /* float: right; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    /* flex-wrap: wrap; */
}
.droite .portfolioContent, .droite p {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    float: right;
    text-align: end !important;
}
.portfolioContent h3 {
    font-size: calc(1em + 1vw);
    color: white;
    margin: 0px 30px 
}
.portfolioContent p {
    font-size: calc(0.7em + 0.5vw);
    text-align: justify;
    color: #171717;
    margin: 0 20px;
    width: 80%;
    padding: 20px;
}

/* CONTACT */
.contact {
    border-top: 2px solid rgb(49, 94, 69);
}
.contactContent {
    display: flex;

}
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactContent {
    margin: 0 auto;
    width: 60vw;
    position: relative;
}
form {
    margin: 0 auto;
}
.form-style {
    margin:10px auto;
    max-width: 500px;
    padding: 20px 0;
    font-family: "Roboto", "Lucida Grande", sans-serif;
    font-size: calc(0.7em + 1vw);
  }
  .form-style td {
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style label{
    color: white;
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
  .form-style .required{
    color:rgb(49, 94, 69);
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: rgb(49, 94, 69);
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    border: none;
    color: #fff;
    margin: 0 5px;
    text-align: center;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: rgb(33, 63, 46);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    -moz-box-shadow: 0 0 8px rgb(49, 94, 69);
    -webkit-box-shadow: 0 0 8px rgb(49, 94, 69);
    box-shadow: 0 0 8px rgb(49, 94, 69);
    border: 1px solid rgb(49, 94, 69);
  }
  .error{
    color: #171717;
    padding: 0 10px;
    background-color: rgb(49, 94, 69);
  }


/* LOGO FOOTER */

footer {
    margin-top: 90px;
    background: rgb(49, 94, 69);
    height: 150px;
}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(15px + 2vw);
    height: 100%;
    width: 100%;
}
.logo i {
    color: #171717;
}
.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171717;
}
.logo a:hover , .logo a:hover i {
    color:#ffffff
}
@media screen and (min-device-width: 621px) and (max-device-width: 900px) { 
    .content {
        width: 80vw;
    }
    nav ul {
        width: 100vw;
    }
    .accueil {
        height: 75vh;
    }
    .gauche , .droite {
        width: 100%
    }
    .gauche img , .droite img{
        min-width: 50%;
        object-fit: cover;
    }
}

@media screen and (min-device-width: 0px) and (max-device-width: 621px) { 
    .content {
        width: 80vw;
    }
    nav ul {
        width: 100vw;
    }
    .accueil {
        height: 75vh;
    }
    .gauche , .droite {
        width: 100%;
        flex-wrap: wrap;
    }
    .gauche h3, .droite h3 {
        margin: 30px 30px 0px 30px;
    }
    .gauche img , .droite img{
        min-width: 100%;
        object-fit: cover;
    }
    .droite {
        flex-direction: column-reverse;
    }
}