/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #397524 #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 0px;
    width: 0px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }

/* MISE EN PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #171717;
}
.content {
    width: 60vw;
    margin: 20px auto;
    position: relative;
}
/* TYPO */
li ,a {
    text-decoration: none;
    list-style: none;
}
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
h1 {
    color: rgb(231, 230, 230);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: calc(2em + 2vw);
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}
.orange {
    color: rgb(49, 94, 69);
}
.grey {
    color:#171717;
}
.titleDiv h2 {
    font-size: calc(2em + 2vw);
    color: rgb(231, 230, 230);
    margin: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(49, 94, 69);
}
.contentDiv p {
    font-size: calc(0.7em + 1vw);
    text-align: justify;
}

/* NAV */
nav {
    display: block;
    width: 100%;
    border-bottom: 2px solid rgb(49, 94, 69);
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 20px;
    font-size: calc(0.7em + 1vw);
    background: #171717;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #171717;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
nav ul li:hover {
    box-shadow: 0 0 30px #171717;
}
nav ul li a {
    color: rgb(49, 94, 69);
    transition: color 0.3s;
}
nav ul li:hover a {
    color: rgb(231, 230, 230);
}

/* ACCUEIL TITLE */
.accueil {
    position: relative;
    height: 100vh;
}

.title {
    margin-top: 10vh
}
.imageTitle {
    position: relative;
    height: auto;
    margin: 30px 0;
}
.image {
    display: flex;
    justify-content: flex-end;
}

.moi {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: rgb(49, 94, 69);
    margin: 100px auto;
    animation: box-shadow 3s ease-in-out infinite,position 6s ease-in-out infinite;
}
@keyframes box-shadow {
    0% {
        box-shadow: 0px 0px 30px rgb(49, 94, 69);
    }
    50% {
        box-shadow: 0px 0px 60px rgb(49, 94, 69);
    }
    100% {
        box-shadow: 0px 0px 30px rgb(49, 94, 69);
    }
}
@keyframes position {
    0% {
        transform: translateY(0%);
    }
    40% {
        transform: translateY(123%);
    }
    60% {
        transform: translateY(123%);
    }
    100% {
        transform: translateY(0%);
    }

}
.moi:after {
    box-shadow: inset 0px 0px 10px rgb(49, 94, 69);
    content: '';
    position: absolute;
    top: 10%;
    left: 40%;
    width: 50%;
    height: 50%;
    background: #171717;
    border-radius: 50%;
}


/* A PROPOS */

.propos {
    border-top: 2px solid rgb(49, 94, 69);
    padding: 30px;
    position: relative;
}
.contentDiv p {
    color: #171717;
    font-size: calc(0.7em + 0.5vw);
    width: 100%;
    margin: auto;
    text-align: justify;
}
.contentDiv {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
}
.column {
    width: 300px !important;
    margin: auto !important;
    margin-bottom: 30px !important;
}

/* PORTFOLIO */
.portfolio {
    border-top: 2px solid rgb(49, 94, 69);
    position: relative;
    background: #171717;
    flex-wrap: wrap;
    padding: 30px 0;
}
.portfolioContent {
    height: auto;
    position: relative;
}
.portfolio h2 {
    text-shadow: 2px 2px 2px #171717;
}
.portfolio img {
    width: 300px;
    height: auto;
    object-fit: cover;
    max-width: 300px;
    min-width: 300px;
    border-radius: 5px;
}
.gauche {
    display: flex;
    width: 60vw;
    min-width: 800px;
    margin: 50px 0;
    padding: 20px;
    background: rgb(49, 94, 69);
    /* flex-wrap: wrap for mobile */
    border-radius: 10px;
    max-width: 100vw;
}
.droite {
    display: flex;
    margin-bottom: 50px;
    width: 60vw;
    max-width: 100vw;
    min-width: 800px;
    padding: 20px;
    background: rgb(49, 94, 69);
    float: right;
    border-radius: 10px;
}
.droite .portfolioContent, .droite p {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    text-align: end !important;
}
.portfolioContent h3 {
    font-size: calc(1em + 1vw);
    color: white;
    margin: 30px;
}
.portfolioContent p {
    font-size: calc(0.7em + 0.5vw);
    text-align: justify;
    color: #171717;
    margin-left: 20px;
    width: 80%;
    padding: 20px 20px ;
}

/* CONTACT */
.contact {
    border-top: 2px solid rgb(49, 94, 69);
    padding: 30px;
}
.contactContent {
    display: flex;
    margin: 30px;
}
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactContent {
    margin: 0 auto;
    width: 60vw;
    position: relative;
}
form {
    margin: 0 auto;
}
.form-style {
    margin:10px auto;
    max-width: 500px;
    min-width: 200px;
    padding: 20px 12px 10px 20px;
    font-family: "Roboto", "Lucida Grande", sans-serif;
    font-size: calc(0.7em + 1vw);
  }
  .form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style label{
    color: white;
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
  .form-style .required{
    color:rgb(49, 94, 69);
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: rgb(49, 94, 69);
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: rgb(33, 63, 46);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    -moz-box-shadow: 0 0 8px rgb(49, 94, 69);
    -webkit-box-shadow: 0 0 8px rgb(49, 94, 69);
    box-shadow: 0 0 8px rgb(49, 94, 69);
    border: 1px solid rgb(49, 94, 69);
  }
  .error{
    color: #171717;
    padding: 0 10px;
    background-color: rgb(49, 94, 69);
  }


/* LOGO FOOTER */

footer {
    margin-top: 90px;
    background: rgb(49, 94, 69);
    padding: 30px;
}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(2em + 2vw);
}
.logo i {
    color: #171717;
    transition: color 0.3s;
}
.logo i:hover , .logo i:hover span {
    color: #ffffff;
}
.logo span {
    color: #171717;
    font-size: calc(10px + 1vw) !important;
    font-family: "Roboto";
    display: block;
    margin: 10px;
}
.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}